
html, body {
  box-sizing: border-box;
  width: 100%;
  background: $page-bg;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

header{
	color:darkred;
	font-size:1.5em;
}


// li{
// 	@include no-bullet;
// }

// .button{
// 	@include button;
// }