

//variables
$base-font-size: 16px;
$page-bg: white;  
$page-base-font-color: black;

$nav-background: #696969; // dim gray
$nav-title: #FF6347; //tomato


$body-bg: #FFFAFA;  // snow

$form-add-btn: #3CB371; // medium sea green
$form-add-btn-hover: #2E8B57;  // sea green
$form-bg: #DCDCDC; // gainsboro

$form-remove-color: red;
$form-remove-color-hover: white;
$form-remove-btn: white;
$form-remove-btn-hover:red;