
header{
  	nav{
		color:white;
  	}
}


form{
	.f-box{
	
	&-tab{
		text-align: center;
		background: #008080;
		padding: 15px;
		z-index:2;
		//@include border-radius(0px 0px 100% 100%);
		}
	}
}


section{
	.others{
		background: #8FBC8F;
		h1{
			clear: both;
		}
		p{
			clear: both;
		}
	}
}